DATABASE_URL="postgresql://postgres:123456@localhost:5432/rocky_maxx?schema=dbo"
API_PORT=3000
JWT_SECRET="change-me"
JWT_EXPIRES_IN="12h"
AUTH_PASSWORD_PEPPER="change-me"
AUTH_BOOTSTRAP_ADMIN_ENABLED=true
AUTH_BOOTSTRAP_ADMIN_USERNAME="rocky"
AUTH_BOOTSTRAP_ADMIN_NAME="rocky"
AUTH_BOOTSTRAP_ADMIN_PASSWORD="123456"
AUTH_BOOTSTRAP_ADMIN_GROUP="admin"